<%- include('header') %>
<script src="/js/spider.js"></script>
<div class="eight wide column">
  <div class="ui segment">
    <h3>复制下面内容到以下位置</h3>
    <pre><%= windowDest %></pre>
    <pre><%= linuxDest %></pre>
    <pre id="spiderData">
    <% datas.forEach(function (data) { %>
    <%- data %>
    <% }) %>
    </pre>
  </div>
  <div class="ui center aligned basic segment">
    <div id="addBtn" class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      添加到host
    </div>
    <div id="reSpiderBtn" class="ui red basic button">
      <i class="checkmark icon"></i>
      重新爬取
    </div>
  </div>
</div>
<%- include('footer') %>
